[2017-09-05 00:14] silent-mobious opened #1 "1.10.2-0.1.3 - server-side issues?"
Hi there, awesome to see that you're remaking a classic!  Looks like I'm having some issues on the server-side, tho, related to block rendering?

Thanks!

**Mod Versions tested**: nuclearphysics-1.10.2-0.1.3
**Forge version used**: forge-1.10.2-12.18.3.2281-universal
**Log**:
[19:18:47] [Server thread/ERROR] [FML/]: Exception caught during firing event net.minecraftforge.event.RegistryEvent$Regist

[2017-09-08 00:18] halvors commented on #1
@silent-mobious Thanks for your bug report! The issue has been adressed in the latest alpha release.

[2017-09-08 00:20] #1 closed

[2017-09-10 22:56] DarkmoreSOS opened #2 "Particle Accelerator Crashes Game"
The Particle Accelerator seems to crash my game when I start it. https://pastebin.com/2QF6CAhh

[2017-09-10 23:58] halvors commented on #2
@DarkmoreSOS Thanks for your report, what version are you using?

[2017-09-11 02:55] halvors commented on #2
@DarkmoreSOS The bug is now fixed, please get the latest release (0.1.11).

[2017-09-11 02:55] #2 closed

[2017-09-11 10:59] gunboy001 opened #3 "NoClassDefFoundError: ItemWrench"
Game crashes on startup with nuclearphysics installed, I use foamfix from aise and both with and without it the game crashes with the same error (I don't know why I thought it would have had an effect but I tried it anyways).
Here are the crash reports:
https://pastebin.com/E3z6p6Ca
https://pastebin.com/csk1XC7M

[2017-09-11 12:31] halvors commented on #3
@gunboy001 Thanks for your bug report. I'll fix this as soon as possible.

[2017-09-11 12:34] halvors commented on #3
If you want to be able to play in the meantime, install mekanism. That should solve the issue. But this is still a bug since mekakism should not be a dependency.

[2017-09-11 14:08] halvors commented on #3
Fixed in commit c6b9f0a7cecfa6c18e90570f729d77857886cb9c

[2017-09-11 14:08] halvors commented on #3
@gunboy001 Try the latest version :)

[2017-09-11 14:08] #3 closed

[2017-09-11 14:37] gunboy001 commented on #3
That was fast, thanks!

[2017-09-12 10:36] gunboy001 opened #4 "Bug with creative tabs"
Some items (uranium and cells) appear in every creative tab and also in the item destroy slot, here are some screens:
https://imgur.com/Cp05Vsv
https://imgur.com/wkXR2tK
https://imgur.com/rUgXSRG

[2017-09-12 15:53] halvors commented on #4
@gunboy001 Thank you for reporting, seems to be a 1.12 issue.

[2017-09-12 19:18] #4 closed

[2017-09-24 08:34] Protheus opened #5 "[1.12.1] - Caught exception from Nuclear Physics (nuclearphysics)"
**Gamecrash during loading:**

Following version give the crash during mc loading
- Forge: 2485
- nuclearphysics-1.12.2-0.1.18
- nuclearphysics-1.12.2-0.1.19

Working version is: nuclearphysics-1.12.2-0.1.17

**Pastebin**: https://pastebin.com/9z6jgd5a

-----

**Short:**
net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Nuclear Physics (nuclearphysics)
Caused by: net.min

[2017-09-24 14:30] halvors commented on #5
@Protheus Thanks for reporting, my mistake. The issue is because i accidentally used a class that is only available in MC 1.12.2 with the newest bleeding edge Forge version.

I've released a new build that fixed the issue: https://minecraft.curseforge.com/projects/nuclear-physics/files/2483649

[2017-09-24 14:30] #5 closed

[2017-09-24 14:36] ACGaming opened #7 "[1.10.2] "Exception in server tick loop" when inserting Plasma into a Reactor Cell"
- Minecraft 1.10.2
- Forge 12.18.3.2422 (also crashes with other versions)
- Nuclear Physics 0.1.19 (also crashes with other versions)

https://paste.ubuntu.com/25606199/

[2017-09-24 18:06] halvors commented on #7
@ACGaming Thanks for reporting! This is now fixed in the latest build, see: https://minecraft.curseforge.com/projects/nuclear-physics/files/2483722

[2017-09-24 18:06] #7 closed

[2017-09-25 21:53] Xottab-DUTY opened #10 "One entire string for one translation item"
Please, don't use two strings for one item.

For example:
Deuterium Cell – mod takes `fluid.deuterium` and `item.nuclearphysics.cell.name` strings. (or maybe other strings, I don't know)

In English there's no problem. But in other languages this may cause translation problems.

For example, Russian translation for Deuterium Cell is dumb and I can't do anything with that =(

For fixing this you ju

[2017-09-26 10:06] halvors commented on #10
@Xottab-DUTY Hmm, i understand the translation issue. But the issue is that the cell can dynamically be filled with fluid. Like the vanilla bucket. And that is using 2 strings for 1 entry right? Like "Water Bucket", so i'm unable to understand how i can keep compatibility with fluids from other mods dynamically if not merging strings :( The cell is known, but the fluid in the cell is not always kn

[2017-09-26 10:33] Xottab-DUTY commented on #10
Oh, I don't think about that..
Well, I think the best decision for cells would be naming it "Cell" and point the fluid in the tooltip, like
[code]
or the other variant would be point fluid in name, but it's not the best (the above is better):
[code]

[2017-09-26 14:16] halvors commented on #10
@Xottab-DUTY That is a great idea, i think we should solve the prolem that way :-)

[2017-09-26 14:50] Xottab-DUTY commented on #10
@halvors Good! Will be waiting for you and then will update my PR

[2017-09-26 22:31] halvors commented on #10
@Xottab-DUTY Done, i'll merge as soon as your PR is updated.

[2017-09-27 11:02] Xottab-DUTY commented on #10
@halvors Just force pushed the update. The PR is ready =)

[2017-09-27 17:15] halvors commented on #10
Will do, thanks :)

[2017-09-27 17:15] #10 closed

[2017-09-28 05:59] Beanius opened #11 "Start-up crash (Forge-14.23.0.2493. nuclearphysics-1.12.2-0.1.23"
https://gist.github.com/Beanius/f450716089de60a86883c468f197b399

[2017-09-28 10:04] #11 closed, assigned to nobody

[2017-09-28 10:07] halvors commented on #11
@Beanius This is now fixed, i'm currently at work, will have a new build out later today. In the meanwhile you could use build 21. It shoulf work fine but without the othet fixes of build 23.

Thank you for helping me out by reporting this :-)

[2017-09-28 12:54] Xottab-DUTY opened #12 "Stack overflow on 0.1.23"
Getting crash with the new version 0.1.23
Log is [here](https://gist.github.com/Xottab-DUTY/17162aed18370ab34e34afe230d5c72b).

[2017-09-28 14:00] Beanius commented on #11
Yah 21 works. Cheers for fast response and upcoming fix! B)

[2017-09-28 14:01] Beanius commented on #12
#11 Halvors stated a fix will come through later today B)

[2017-09-28 15:12] Xottab-DUTY commented on #12
Oops, this was fast fixed, so that I didn't saw it =)

[2017-09-28 15:12] #12 closed, assigned to nobody

[2017-09-29 01:08] halvors commented on #12
@Xottab-DUTY Thanks for reporting, i've just uploaded the new build fixing this issue to CurseForge (https://minecraft.curseforge.com/projects/nuclear-physics/files). Sorry for the late release, i was caught up in real life.

[2017-09-29 01:09] halvors commented on #11
Just uploaded the new build (24) fixing this issue to CurseForge.

[2017-09-29 04:32] Xottab-DUTY commented on #12
No problem, real life is always the higher priority than computer =)

[2017-10-06 15:04] forestbat opened #13 "How to start the fusion reactor？"
@halvors
![2017-10-06_22 57 53](https://user-images.githubusercontent.com/23413915/31284229-8759f0be-aaea-11e7-9a40-1f033434b822.png)
![2017-10-06_23 05 36](https://user-images.githubusercontent.com/23413915/31284379-ee5d969e-aaea-11e7-8d19-f935b3f8830c.png)
![2017-10-06_22 58 11](https://user-images.githubusercontent.com/23413915/31284230-8768ba86-aaea-11e7-8091-b81948a6ae2c.png)
Are there any mi

[2017-10-08 22:35] halvors commented on #13
Think you're structure doesn't allow plasma to spawn, it's the plasma itself that boils the water into steam.

![2017-10-09_00 33 00](https://user-images.githubusercontent.com/620303/31321694-eddacbd8-ac89-11e7-886e-d328560d6878.png)

[2017-10-25 15:05] Eclairictus commented on #13
*sry for my bad english

I cant start the fusion reactor too.

     Plasma is not generated by plasma heater.
     And don't load mekanism's liquid deuterium.
     Reactor cell don't load deutrium (and cell).

I want you to tell me how to do or reference video :)

![2017-10-25_23 43 56](https://user-images.githubusercontent.com/13760011/32005283-d474d730-b9de-11e7-9c43-e14bd2575451.png)
![2017-10-

[2017-10-29 16:14] halvors commented on #13
@Eclairictus You need to provide the plasma heater with both deuterium and tritium as well as energy.

[2017-10-30 13:27] Eclairictus commented on #13
@halvors  I didnt know need deuterium and tritium for working...ty!!
I think  succeeded to generate plasma, but temperature is not raised.

cause of wrong structure?

![2017-10-30_22 18 51](https://user-images.githubusercontent.com/13760011/32172837-5f8a4460-bdc0-11e7-95e8-adb3d24367d3.png)
![2017-10-30_22 18 57](https://user-images.githubusercontent.com/13760011/32172838-600dc754-bdc0-11e7-9d44-f

[2017-11-01 06:54] halvors commented on #13
I know it's somewhat buggy, still testing this.
But the temperature in the reactor should not actually be shown, as long as the plasma is spawning around you're ok. Not the reactorblock itseld that is heated.

[2017-11-01 06:59] halvors commented on #13
And for the deuterium and tritium, you're using the fluids from mekanism right? I cannot fix them impropetly registering the textures, guess textures in world i rendering fine?

If problem persists i will look into fixing this in mekanism and sending in a patch to the developers.

[2017-11-05 02:27] Eclairictus commented on #13
Im using Nuclear-Physics's deuterium and tritium.

I tested environment only mekanism and this mod, texture bug is not caused.
And, plasma is generated!
I dont know why this result...

So maybe  other mod do something wrong.
Need for paste installing mod ?

[2017-11-08 00:24] halvors commented on #13
Yeah. That would be helpful. :-)

[2017-11-08 12:07] Eclairictus commented on #13
I hope this is your help!
Minecraft version 1.12
Forge version 14.23.0.2515

DigAllSMP_v2.3.2.zip
MineAllSMP_v2.6.5.zip
RosettaEnchantTable_v0.0.8.zip
AdvancedRocketry-1.12.2-1.2.3.jar
AutoRegLib-1.3-14.jar
BedrockLayer_1.11.2-v1.2.4.jar
BrandonsCore-1.12-2.3.3.132-universal.jar
calculator-1.12.2-5.0.1.jar
Chameleon-1.12-4.1.3.jar
Chisel-MC1.12-0.0.14.18.jar
CodeChickenLib-1.12-3.1.3.313-universal

[2017-11-10 14:03] halvors commented on #13
But you have mekanism installed. And its loaded before nuclear physics. So then you are using mekanism deuterium and tritium. And the problem with the textures must lie there.

When mekanism registers deuterium and tritium first. A fluid with tjat name already exists, and we are using that for compatibility between mods :-)

[2018-01-11 11:17] ZHENGLOC opened #14 "Particle accelerator results game crash"
I'm not good at English,please forgive.

Many times!But this is the moment the particle accelerator is started.

MC version:1.10.2
Nuclear Physics version:  nuclearphysics-1.10.2-0.1.24
Forge version:12.18.3.2511

crash reports：
https://paste.ubuntu.com/26365549/

[2018-01-27 02:26] halvors commented on #14
@ZHENGLOC Are you using a chunkloader block? The issue seems to be related to chickenbones's chunkloader.

[2018-01-27 05:54] ZHENGLOC commented on #14
@halvors Yes, I installed chickenbones chunkloader,but I deleted that,it can work.

[2018-02-05 05:59] jayburn00 commented on #13
I seem to be running a much older version 1.6.4.  I can't find instructions for how to get plasma from heater to reactor cell, and I can't turn on heater either.  I think this is actually an issue of unable to find documentation, not bugs, but I can't find where to ask.  You say refer to the atomic science wiki, but atomic science nuclear fusion works much differently and is much more simple and u

[2018-03-06 04:04] halvors commented on #14
@ZHENGLOC Did it work without the chunkloader? Is the chunkloader next to the particle accelerator controller block. If you chunkload, make sure that is loaded.

[2018-03-06 04:23] ZHENGLOC commented on #14
NO,I did not loaded,I did not place the chunkeloader in the overworld.

[2018-03-07 12:31] halvors commented on #13
@jayburn00 I see. Sorry for late answer. The reason this differs from the classic Atomic-Science is because my mod is based on the latest work by Calclavia. The fusion reactor from Electrodynamics.

To get the plasma from the Plasma Heater (assuming that there is plasma generated, need to be atleast 1000L i think) use some sort of fluid pipes to transport it.
Like the the Mechanical Pipe in Mekani

[2018-03-07 12:32] halvors commented on #13
@jayburn00 Also, if the general opinion is that the original Atomic Science way was better, there is possible to rewrite the mechanics to work like that.

[2018-03-07 12:34] halvors commented on #14
@ZHENGLOC Does the server crash instantly when launched? I cannot see that this bug is related to the Particle Accelerator...

[2018-03-07 17:55] zzBuilderzz opened #16 "Control rods do not shut off reactor"
I have put 4 control rods direct adjacent to the reactor cell and yet it still will not turn off. If this supposed to do exactly as Atomic Science did in 1.6.4 then this is a bug. In Atomic Science one control rod is enough to turn the reactor completely off. As of right now all that one control does is keep the reactor from going above a certain temp.

[2018-03-08 16:31] halvors commented on #16
@zzBuilderzz I agree that this doesn't make sense. But i'm unsure if control rods shuts down the reactor completly, i think there should more effective to have 4 than just 1. But indeed atleast slow it a lot more down than it is now. Maybe so that water keeps around boiling point? But generates next to zero energy?

[2018-03-08 17:09] zzBuilderzz commented on #16
that would make much more sense to have them really slow down the reaction but not completely shut it down (as that's what control rods do in irl)

[2018-03-08 18:56] halvors commented on #16
@zzBuilderzz Yeah. I will look into fixing that :)

[2018-03-08 19:49] halvors commented on #16
@zzBuilderzz Should be fixed in e86b750a635a068713d9a10115b14fcea96a06cc, please try out the new build and see if it's solves the issue for you :)

[2018-03-08 23:16] halvors commented on #14
@ZHENGLOC I need more information about this issue, can you somehow confirm that it's related to Nuclear Physics?

[2018-03-09 04:51] ZHENGLOC commented on #14
@halvors Sometimes there is no problem with start，But after working for a while, it crashed.When loading the server, there is a chance that it will crash immediately, sometimes crashing in the chunk where the particle accelerator is loaded.If you don't build an accelerator, it won't crash.

[2018-03-09 09:15] halvors commented on #14
@ZHENGLOC Hmm. Do you got more crash logs from cases when this happens?

[2018-03-09 09:26] ZHENGLOC commented on #14
This is new logs and crash
https://paste.ubuntu.com/p/F64czFtdyk/
https://paste.ubuntu.com/p/ZNw29VpRrK/

[2018-03-09 09:30] halvors commented on #14
@ZHENGLOC Those crash logs is not related to Nuclear Physics. You should reconsider using chicken bones's chunkloaders as there is where the crash happens.

[2018-03-09 09:33] ZHENGLOC commented on #14
@halvors OK,I get it.I'm sorry did not help you.

[2018-03-09 09:33] #14 closed, assigned to halvors

[2018-03-09 14:02] halvors commented on #14
No problem :-)

[2018-03-12 19:40] Njet75 commented on #13
Thanks for the great work.
I really missed this mod since 1.6.4.
First bug i noticed is that you cant have  NuclearCraft made by tomdodd4598 installed.
You get wrong plasma.
Second bug is after a while running the water stops boiling and generator stop working.
Plasma still spawns.(edit happens when i Place gasfunnels).
Must restart whole game to make it work again
I use creative tank from Mekanis

[2018-03-24 15:09] Njet75 commented on #13
I´m all for a rewrite to original Atomic Science.
Calclavia never got the new system to work without bugs.
/Michael

[2018-03-29 01:51] halvors commented on #13
@Njet75 Thanks for reporting this! What do you mean by that you get the wrong plasma? Plasma from NuclearCraft and NuclearPhysics should be interchangeable if they've registered it right with Forge. But maybe it wont't "eat the world" around and set things on fire when released into the world.

[2018-03-30 02:53] halvors commented on #16
Closing this, fix commited.

[2018-03-30 02:53] #16 closed, assigned to halvors

[2018-04-02 10:20] Njet75 commented on #13
Maybe its a Forge issue.I will make a Clean install and test diffrent Forge version.
Witchversion was it buildt with?
/ Best Michael

[2018-04-02 11:21] Njet75 commented on #13
Tested with lastest build and this happens.
Forge 2618
Hope this helps.
![2018-04-02_12 59 27](https://user-images.githubusercontent.com/8996171/38194550-7ac6f8e6-3678-11e8-8a2a-87832425b29e.png)
![2018-04-02_13 10 33](https://user-images.githubusercontent.com/8996171/38194562-8a1178d0-3678-11e8-804a-4793ad9918b2.png)

[2018-04-02 12:59] halvors commented on #13
@Njet75
It was built with latest recommended version of Forge. If you're on 1.12.2 as most is at the moment that would be build 2611.

I'm releasing a fix for the bug where generators was stopping to work.
In my test's it solved the issue, could you please verify as well? :)

Also when reporting, please do make a new issue as it's easier to make sure it properly tracked :)

[2018-04-03 01:14] creeperCuller opened #17 "Reactor cells do not connect vertically anymore."
In the original mod, as well as early version of this mod, the reactor cells would connect vertically and share an inventory across all connected cells, but this no longer happens. Is there any intention to bring this back?

[2018-04-03 02:31] jdawg3636 opened #18 "Unable to extract antimatter from Particle Accelerator"
![2018-04-02_21 27 34](https://user-images.githubusercontent.com/20378095/38225990-efe1f880-36bc-11e8-82b4-7bc11da57489.png)

Particle accelerator doesn't seem to transfer its antimatter to cells - not sure if this is a bug or if I'm just doing it wrong.

MC Version: 1.12
Nuclear Physics Version: 0.1.27

[2018-04-03 14:39] Njet75 commented on #13
@halvors
Latest version and Forge 2611 did the trick.
Yes I will make new issue in the future if I find any bugs :).
Thanks for all the work you put into this mod.
/Best Michael

[2018-04-03 21:38] halvors commented on #17
@creeperCuller Maybe eventually when the the mod is more stable. The reason it's not implemented is because of buggy behaviour. I'll need a complete redesign from calclavias version anyway, the reactor cell towers was not working as they whould.

* It did share the inventory, but the inventory did only have room for 1 fuel rod at the time.
* There was no actual functional benefit of stacking the c

[2018-04-03 21:38] #17 closed, assigned to nobody

[2018-04-03 21:43] halvors commented on #18
@jdawg3636 I will have to look into this. Thanks for reporting!
Could you just verify something for me, is the cells you've inserted brand new, or have the been used before? Used to store water, deuterium or tritium?

[2018-04-03 21:44] halvors commented on #13
@Njet75 Glad to hear that fixed the issue :) And thanks again for reporting :)

[2018-04-04 03:26] jdawg3636 commented on #18
They were pulled straight out of JEI - never been used before

(JEI Version 4.8.5.147, in case that matters)

[2018-04-04 20:32] halvors commented on #18
Did some testing, confirmed to be an issue in 1.12.2. Currently working fine for 1.10.2. Will investigate further.

[2018-04-04 20:58] halvors commented on #18
@jdawg3636 Bug fixed, closing this issue. Make sure to grab version 0.1.28 containin the fix :)

[2018-04-04 20:58] #18 closed, assigned to halvors

[2018-04-12 10:12] Ezoteric opened #19 "Missing corners in connected textures"
Hey, its cool you have these CTs but your missing quite a few.

For example the UL needs a small corner to connect when shaped as a L and it needs a lot more cause the same UL will also need one without a dot to connect to a 2 layer L.

![2018-04-12_15 54 34](https://user-images.githubusercontent.com/14137626/38681881-117f4506-3e6a-11e8-9224-69114a4fe1fa.png)

On the Pic you can see what i mean.
I

[2018-04-14 04:17] halvors commented on #19
@Ezoteric Thanks for your bug report!

The corners was never added due to how connected textures work. But that could be fixed in the future.
As far as i can understand that was the only missing piece? (But in both electromagnets and gas funnel of course).

[2018-04-14 09:02] Ezoteric commented on #19
well it for all connected textures. And you also miss corners on just glass with a corner :P

If i got some time ill look for a mod that does have ALL CTMs so you know which you actually mis cause there is quite a lot of them  :P

[2018-04-14 14:31] halvors commented on #19
With edged glass? The nature of how conncted textures is implemented is the problem. There is only a way of telling when theres a neighbor block in over, under, north, east, south, west.

So it would be difficult to get rid of the "center" dot as there is no way of detecting the last block of the square.

[2018-04-14 14:47] Ezoteric commented on #19
Well its not a major problem it just looks stupid :P
But it should be possible as there are mods with glass and they dont have missing corners.
I also looked at a few mods but seems they all have different approaches to fix that.

So i dunno, you can keep this here till you finished the important stuff first :)

[2018-04-14 19:37] jdawg3636 opened #20 "Hazmat Suit Has No Texture When Worn"
![noarmor](https://user-images.githubusercontent.com/20378095/38771900-ea664360-3ff0-11e8-8fa9-72fbf50b1bf7.png)
![withhazmat](https://user-images.githubusercontent.com/20378095/38771901-ea790af4-3ff0-11e8-8464-e108b559eabc.png)

MC Version: 1.12.2
Nuclear Physics Version: 0.1.30

[2018-04-14 23:26] halvors commented on #20
Fixed in 4aa7a574386e754f38f23c84bed141c23b150ea0, will be in next release. Thanks for reporting!

[2018-04-14 23:26] #20 closed, assigned to halvors

[2018-04-14 23:29] halvors commented on #19
Yeah, think the ConnectedTexturesMod does some ASM injection of minecraft classes to do this.
@Ezoteric Do you know of any texture packs that adds connected texture glass and also works on vanilla Minecraft?

[2018-04-15 11:04] Ezoteric commented on #19
Sphax for vanilla MC has 47 glass textures for the normal glass block :P
In the textpack they are located : assets\minecraft\mcpatcher\ctm\glass\frame\

BTW chisel only has 1 file with 4 of them on it and Extrautils has 1 file with 5 of them on it.
Kinda weird :P

[2018-04-15 11:05] silent-mobious opened #21 "[1.7.10] Crash on server"
There are 1.7.10 versions now!  Yay!  They all seem to crash on my server!  Boo!  :)

I've tried 29-31 and they all crash while loading on the server, client loads without problem.  Possible rendering issue?  Similar to the #1 issue I opened back in September for 1.10.2?

Thanks a lot!!

**Mod Versions tested**: nuclearphysics-1.7.10-0.1.29, 30, 31
**Forge version used**: 10.13.4.1614
**Log**:
[06

[2018-04-15 16:27] ZHENGLOC opened #22 "Crash when entering world"
---- Minecraft Crash Report ----
// You should try our sister game, Minceraft!

Time: 4/16/18 12:18 AM
Description: Saving entity NBT

java.lang.NullPointerException: Saving entity NBT
	at org.halvors.nuclearphysics.common.entity.EntityParticle.func_70014_b(EntityParticle.java:219)
	at net.minecraft.entity.Entity.func_70109_d(Entity.java:1342)
	at net.minecraft.entity.Entity.func_70039_c(Entity.ja

[2018-04-15 16:28] ZHENGLOC commented on #22
https://paste.ubuntu.com/p/xyzJw24GsF/

[2018-04-16 16:19] Njet75 opened #23 "Fusion reactor stops working after a while"
Get this text in log.
Latest build
[fusion.txt](https://github.com/halvors/Nuclear-Physics/files/1916229/fusion.txt)
Then the fusion stops boiling water and no Power and movment of turbines.
Restart the server helps.

Best Michael

[2018-04-16 19:46] Attakajakka opened #24 "Mod localisation names issue"
All of the items and any of the text shows us as item.nuclearphysics.darkmatter_cell for example and all of the items are doing this on nuclearphysics-1.12.2-0.1.31

[2018-04-16 22:40] halvors commented on #23
@Njet75 What version are you on? And what Forge version?

[2018-04-16 23:44] halvors commented on #24
Fixed in commit 3732df656f18ed33f916baf1c8ab2353f06e66dc.

[2018-04-17 15:01] Njet75 commented on #23
Tested with Forge 2655 and 2618 and nuclearphysics-1.12.2-0.1.31.jar and nuclearphysics-1.12.2-0.1.30.jar .
Diffrent constellations with these versions.
Same result.Takes diffrent amount of time until the log shows.
/Michael

[2018-04-18 00:27] halvors commented on #22
@ZHENGLOC Any way you could provide me with the world this crash happens in?

[2018-04-18 01:32] halvors commented on #21
@silent-mobious Do you have Mekanism installed? If so could you check that you have the latest version of Mekanism for 1.7.10? That has solved similar issues before.

[2018-04-18 02:27] halvors commented on #22
Fixed in commit ffa52e1c08345b3a896fa28157f0a200a87b79c5, still need to verify that this solves the problem, but i've not been able to reproduce the crash on my end. It may be that it's a very rare bug that can happen especially if running lot other mods.

@ZHENGLOC That world save of yours would really help with that. Or i could send you a dev build.

[2018-04-18 02:43] silent-mobious commented on #21
No, I wasn't using Mekanism on the server at all.  Nuclear Physics alone is crashing with the above error.  I just downloaded and installed Mekanism-1.7.10-9.1.0.281 and it's crashing with the same errors:

<details>
<summary>Click for full error log</summary>

[22:36:12] [Server thread/ERROR] [FML/]:
	States: 'U' = Unloaded 'L' = Loaded 'C' = Constructed 'H' = Pre-initialized 'I' = Initialized 'J

[2018-04-18 04:56] ZHENGLOC commented on #22
@halvors When entering the world, sometimes it immediately crashes. Sometimes when the game runs for three or four seconds, it crashes. If you can send dev build, I will test it.
This is a new logs file：https://paste.ubuntu.com/p/RPJMpRhSNB/

[2018-04-18 18:15] Njet75 commented on #23
[crash-2018-04-18_20.11.44-server.txt](https://github.com/halvors/Nuclear-Physics/files/1925244/crash-2018-04-18_20.11.44-server.txt)
Also been getting this crasch.
From timt to time.

Best Michael

[2018-04-18 23:11] cadaverific commented on #21
Hopping in to mention that I've just run into the exact same error on my server with many mods. Error reads exactly the same. Everything worked fine when i tested in single player. Verified that server runs fine w/o Nuclear Physics(tested 30-31).

[log.txt](https://github.com/halvors/Nuclear-Physics/files/1926079/log.txt)

Super stoked you've picked this up btw. Can't wait to use it.

[2018-04-19 19:03] halvors commented on #21
Thanks for reporting, i will investigste :-)

[2018-04-19 21:28] halvors commented on #23
@Njet75 That last crash, do you do anything specific when that happens?

[2018-04-19 21:45] Njet75 commented on #23
Only moving around nearby.

[2018-04-19 22:00] halvors commented on #24
This bug is fixed in latest release. Thanks @Attakajakka for reporting!

[2018-04-19 22:00] #24 closed, assigned to nobody

[2018-04-19 22:01] halvors commented on #21
This bug is fixed in latest release. Thank you @silent-mobious and @cadaverific for reporting!

[2018-04-19 22:01] #21 closed, assigned to halvors

[2018-04-19 22:04] halvors commented on #22
@ZHENGLOC I've now taken some steps to prevent this crash, it's in the latest release (0.1.32). Could you check if that solves the issue for you? I included it there since i had to release another build anyway to solve issue #21.

[2018-04-19 22:19] halvors commented on #23
@Njet75 I've tried to look into the first issue, and i might possibly have found a fix. But i'm having a hard time reproducing the issue, so could you please help me out by trying this dev build?
https://halvors.org/download/nuclearphysics-1.12.2-0.1.33-dev.jar

[2018-04-19 22:49] silent-mobious commented on #21
Grabbed 32 and it's confirmed working on the server now.  Thanks a lot!  Awesome mod!

[2018-04-20 03:15] ZHENGLOC commented on #22
@halvors After I used the new version, the crash did not happen, but I found a new problem.
The particle accelerator texture is missing.
https://i.imgur.com/JvdDBrN.png
https://i.imgur.com/UqDAHQG.png
Some machines can't add liquids, but they can use pipes.
https://i.imgur.com/py41iV4.png

[2018-04-20 16:31] Njet75 commented on #23
Of Course :).
Testing and will get back with result.

/Michael

[2018-04-20 17:56] halvors commented on #22
@ZHENGLOC Thanks! The particle accelerator should work just fine, it's just a cosmetic issue, i will fix in next release :)

You add liquid with a water bucket right? You could try using water cells, pretty sure they work. But buckets should get fixed as well, i'll look into it :)

[2018-04-20 17:58] halvors opened #25 "Particle Accelerator texture missing"
The particle accelerator texture is missing.
https://i.imgur.com/JvdDBrN.png
https://i.imgur.com/UqDAHQG.png

Thanks to @ZHENGLOC for reporting!

[2018-04-20 17:58] halvors opened #26 "Some machines can't add liquids with buckets, but they can use pipes."
Some machines can't add liquids, but they can use pipes.
https://i.imgur.com/py41iV4.png

Thanks to @ZHENGLOC for reporting!

[2018-04-20 18:00] halvors commented on #22
@ZHENGLOC Closing this issue as problem seems to be solved. Please let me know if you should experience the crash again.

I'll deal with the other issues you reported in issue #25 and issue #26.

[2018-04-20 18:00] #22 closed, assigned to halvors

[2018-04-20 19:45] Njet75 commented on #23
[fusion II.txt](https://github.com/halvors/Nuclear-Physics/files/1933447/fusion.II.txt)
Witch Forge did you build aiganst?
Got more text in log with the dev version.
It might be a issue with other mod or Forge fluidhandler
Gonna test some more
/Michael

[2018-04-20 23:11] halvors commented on #23
@Njet75 Hmm, so you use GasFunnel's in your setup, not ElectricTurbines?

Could you try out the lastest  build, it contains some fixes that possibly solves the issue.

[2018-04-21 00:06] #26 closed, assigned to halvors

[2018-04-21 00:06] #25 closed, assigned to halvors

[2018-04-21 04:20] halvors commented on #23
@Njet75 Think i figured what's wrong here. Will do some testing and get back to you with more details!

[2018-04-21 05:03] halvors commented on #23
@Njet75 There still seems to be som funky buisness going on, but atleast now it doesn't hard crash like before. I'll continue looking into this, but in the meantime you could try out this: https://halvors.org/download/nuclearphysics-1.12.2-0.1.34-dev.jar

Let me know about your experience with it 😃

[2018-04-21 10:28] ZHENGLOC opened #27 "Quantum Assembler not consuming Dark Matter"
It seems that Quantum Assembler can copy items or blocks with NBT, which is a very bad design, because it can be used to quickly copy items, just like copying an AE cell, and the items stored in the cell are also copied.
https://i.imgur.com/qM2OON3.png
Quantum Assembler does not seem to need dark matter to work, it may be a bug.
https://i.imgur.com/gZ2bWvD.jpg

[2018-04-21 13:37] halvors commented on #27
@Thanks for reporting. Been a loong time since i've looked into the Quantum assenbler, so probably needs a haulover.

I agree that copying NBT is a bad design, will rewrite so that it only copys the item itself.

[2018-04-21 14:02] ZHENGLOC opened #28 "Thermometer can not send redstone signal?"
This may be a bug or my way is wrong.
https://i.imgur.com/Cp4tQkH.png

[2018-04-21 14:04] ZHENGLOC commented on #28
game version is 1.7.10

[2018-04-21 20:33] Njet75 commented on #23
With the new dev build the reactor dont stop working.
Instead it crashes but nothing points to Nuclear Physics.
Maybe you can make sense of it?
I´ll post the log next time it crasches.
Heres the crash log

[crash-2018-04-21_21.41.27-server.txt](https://github.com/halvors/Nuclear-Physics/files/1934978/crash-2018-04-21_21.41.27-server.txt)

And heres the log

[fusion III.txt](https://github.com/halv

[2018-04-22 03:25] halvors commented on #23
@Njet75 I also get the warnings in the log, this is because Nuclear Physics is still experiencing a small bug, but that is a bug that does not break gameplay, what's actually happening is that sometimes it fails adding temperature to a block, and instead it does so the next tick.
Solution so far is a but noisy, you may see some errors in the log, but it will not crash game.

The actual game crash

[2018-04-22 04:03] halvors commented on #28
@ZHENGLOC Thanks you so much for reporting! The issue is fixed and will be in the next release.

[2018-04-22 04:07] ZHENGLOC commented on #28
@halvors  Thank you! I think this mod is will be  better and better!

[2018-04-22 04:22] halvors opened #29 "NBT data from item stacks should not be dublicable in Quantum Assembler."
NBT data from item stacks should not be dublicable in the Quantum Assembler. Thanks to @ZHENGLOC for originally reporting this in #27.

[2018-04-22 04:26] halvors commented on #27
Continuing the redesign process of qunatum assembler to not copy NBT data in #29.
Addressing the issue that Quantum Assembler doesn't need Dark Matter in order to work under 1.7.10 here in this issue.

[2018-04-22 09:50] Njet75 commented on #23
I agree .
I think nuclearphysics-1.12.2-0.1.34-dev.jar did the trick.
The reactor works perfect and something else is crashing my game.

[2018-04-22 15:30] halvors commented on #23
Are you running a server or just client? So optifine is not installed on the server?

[2018-04-22 21:23] Njet75 commented on #23
I´m running on client for now.
My modpack is still buggy.
Downgraded to Forge 2618 and extrautils2-1.12-1.7.2.
Been running for Three hours with no crash.
Reactors work perfect.
Have two setups. One with gasfunnels and one without.

[2018-04-22 23:16] halvors commented on #28
@ZHENGLOC This is fixed in latest release.

[2018-04-22 23:18] halvors commented on #23
@Njet75 Excellent, any reason you're not running the latest RB of Forge? It's now 2655 for 1.12.2.

[2018-04-22 23:54] #28 closed, assigned to halvors

[2018-04-23 15:28] Njet75 commented on #23
I was running 2655 but I knew 2618 was stable.
Will try 2655 again and if it doesn´t crash I will be running it again.

[2018-04-23 20:20] halvors commented on #23
@Njet75 Oh i see.

[2018-04-24 13:29] ZHENGLOC opened #30 "Will fission lead to the disappearance of water?"
After the fission reactor runs for a period of time, the water source will disappear.
https://i.imgur.com/vFHVO4K.png
https://i.imgur.com/rBsmpob.png

[2018-04-24 13:38] ZHENGLOC opened #31 "The Reactor Cell Rendering issues."
It looks like the green texture appears at the bottom.
https://i.imgur.com/mjmVhJY.png

[2018-04-24 14:49] halvors commented on #31
Game version 1.7.10?

[2018-04-24 14:49] halvors commented on #30
Game version 1.7.10?

[2018-04-24 14:51] halvors commented on #31
I suspect this is a 1.7.10 only bug that i didn't notice when porting.

[2018-04-24 15:44] Njet75 commented on #30
Can confirm it happens with latest build nuclearphysics-1.12.2-0.1.34.jar

[2018-04-25 00:17] halvors commented on #30
@Njet75 Do you have a turbine or gas funnel over the water block that is despawning? The way this is supposed to work is that in uncontrolled enviroment like plasma running wild, water blocks should boil, also in reactor if no turbine/gas funnel over it.

@ZHENGLOC This is indeed a bug in 1.7.10, but it should work just fine on 1.10+.

To both of you, to clearify this, you have to have a turbine o

[2018-04-25 00:55] halvors commented on #23
@Njet75 This is finally solved in latest release.

[2018-04-25 00:55] #23 closed, assigned to halvors

[2018-04-25 01:03] #31 closed, assigned to halvors

[2018-04-25 01:03] #30 closed, assigned to halvors

[2018-04-25 05:24] ZHENGLOC opened #32 "Update 1.35 Steam Texture Rendering issue"
Before updating
https://i.imgur.com/s1g82mr.jpg
Updated
https://i.imgur.com/dehb9zB.png

[2018-04-25 10:36] ZHENGLOC commented on #32
Game version is 1.7.10

[2018-04-27 20:34] collwee opened #33 "Game crash every time i enter a world"
crashlog  https://gist.github.com/collwee/7aa96d8900740b3d030baf75a5b22846
log  https://gist.github.com/collwee/3126f07f1cf95f9ae1743240c704fea8

it happened when i was travelling in a world and it crashed and every time i try to reenter the world it crash.

i don't know if that help but the crash happened when entering a magical forest biomes from thaumcraft.

[2018-04-28 20:42] collwee commented on #33
after testing again it seams to happen in every new world that i create

[2018-04-28 20:55] collwee commented on #33
this issue look related but for me it happen in 1.12.2 https://github.com/halvors/Nuclear-Physics/issues/22

[2018-04-28 21:09] halvors commented on #33
@collwee Is it crashing when creating a new world without a particle accelerator as well?

[2018-04-29 12:51] collwee commented on #33
yes

[2018-04-29 15:22] collwee commented on #33
@halvors i have sent to you on discord a link of my modpack. it will crash every time you try to enter a world

[2018-04-30 09:26] Njet75 opened #34 "Crash when fusion reactor been running a while."
Experince crash with no direct link to Nuclear-Physics.
I´ll tested thru 194 mods and when I take out this mod it doesn´t crash.
Started happen whith nuclearphysics-1.12.2-0.1.34-dev and still present in nuclearphysics-1.12.2-0.1.35.
look in debug log 3 timestamp 14:21:17.
Hope this helps.
[crash-2018-04-29_13.55.54-server.txt](https://github.com/halvors/Nuclear-Physics/files/1960033/crash-2018-04

[2018-04-30 20:53] halvors commented on #32
@ZHENGLOC I cannot reproduce this to be just on 0.1.35, may it be that it was never working?
The steam may be from some other mod also, as lot of mods register steam as a fluid. I'll investigate when i have time :)

[2018-04-30 20:56] halvors commented on #13
Since this is way old now with recent issues now discussed in own reports, i'll close this.

[2018-04-30 20:56] #13 closed, assigned to halvors

[2018-05-02 00:01] halvors commented on #33
@collwee I'm having a hard time reproducing this crash, does it crash in SinglePlayer or do you run a server?

[2018-05-02 00:07] halvors commented on #34
@Njet75 Hmm. How often does this happen? Having a hard time tracking down this, this crash should not happen at all....

[2018-05-02 14:53] halvors commented on #34
@Njet75 Could you also try this without OptiFine? Some other Forge modders thought maybe that is the issue.

[2018-05-02 22:21] Njet75 commented on #34
It happens randomly.
I will test without Optifine but pretty sure I did try without.
It might be another mod that does something strange.
I keep testing and get back.

Michael

[2018-05-03 16:54] collwee commented on #33
singleplayer

[2018-05-03 18:30] collwee commented on #33
@halvors the only thing that could change between the modpack that i send you would be the java version im using java 8 update 171 released on April 17. on what java update are you running ?

[2018-05-03 19:01] Njet75 commented on #34
Must show you this.
Haha Something Went really wrong with my testing.:)
This reactor worked with nuclearphysics-1.12.2-0.1.33-dev but stpoed after 5 min.
Tested with latest build nuclearphysics-1.12.2-0.1.35 and this happens.
Shortly after the server crashed.
Tryed removing Optifine but will test Weather2 mod.
Just had to show it :)

![2018-05-03_20 54 18](https://user-images.githubusercontent.com

[2018-05-04 15:05] halvors commented on #34
@Njet75 So you mean plasma is destroying the electromagnet blocks?

EDIT: I confirmed and fixed the plasma escaping reactor issue, will be some time to next release though.

[2018-05-04 17:47] Njet75 commented on #34
No worries.Only glad if I can be of help.:)
I´ll keep on testing meanwhile.

[2018-05-06 12:24] kmecpp opened #35 "Plasma Crashes Game"
Placed plasma down in creative mode. Did not stop growing, game crashed very quickly

[2018-05-07 20:21] halvors commented on #35
@kmecpp This is fixed in latest dev version, and will be fixed in the next release.

[2018-05-08 09:34] nictrace opened #37 "Crash on local game entering"
#1.7.10
I think, static method here is not a good idea

`---- Minecraft Crash Report ----
// My bad.

Time: 08.05.18 12:17
Description: Ticking entity

java.lang.IncompatibleClassChangeError: Expecting non-static method org.halvors.nuclearphysics.common.event.handler.ItemEventHandler.onItemExpireEvent(Lnet/minecraftforge/event/entity/item/ItemExpireEvent;)V
	at cpw.mods.fml.common.eventhandler.ASM

[2018-05-08 13:42] halvors commented on #37
@nictrace Yeah you mean in the event handler? Will fix this, it's a backport issue caused by 1.10+ using eventhandlers with the @EventBusSubscriber annotation.

[2018-05-08 15:44] halvors commented on #37
@nictrace If you'd like to contribute to this mod please let me know :) We need all the developers we can get, this really is just a community effort to bring back the old Atomic-Science mod! :)

[2018-05-08 19:55] nictrace commented on #37
Yes, I worked also for mod porting to 1.7.10, but your progress is great)
Currently I work on a Chemical Extractor for improving its compatibility to IC2, Thermal and Galacticraft

[2018-05-08 20:03] halvors commented on #37
@nictrace Nice, maybe you could join the discord server, easier to talk there :) https://discord.gg/DBRTKZT
Also, it's worth mentioning that if you're planning on contributing to this repository you should make your changes to the 1.10.2 branch. Then merge your changes when they're complete into 1.7.10 or 1.11.2 (and then 1.12.2).

This is so that we ensure that fixes and changes are in sync acros

[2018-05-08 21:52] halvors opened #38 "Game crashing if RedstoneFlux API not present"
Game crashing if RedstoneFlux API not present. We should strip of these functions if RedstoneFlux is not present.

[2018-05-09 00:08] halvors commented on #33
@collwee Same as you, i'll look into this when i have some spare time :)

[2018-05-09 14:32] halvors commented on #33
@collwee Can you try running only Nuclear-Physics and an other mod on the same world? (Just remember to take a backup of it first as all blocks from other mods will dissapear).

I cannot reproduce you're issue with my test environment.

[2018-05-09 16:03] halvors commented on #37
Fixed in commit b06060c29d3872c01165dc6cb4d1479de7afad12

[2018-05-09 17:06] #38 closed, assigned to halvors

[2018-05-09 17:06] #35 closed, assigned to halvors

[2018-05-09 17:06] #37 closed, assigned to halvors

[2018-05-09 17:07] #32 closed, assigned to halvors

[2018-05-10 18:57] Njet75 commented on #34
Done some more testing.
With latest build nuclearphysics-1.12.2-0.1.36 no plasma spawn .
I reverted back to nuclearphysics-1.12.2-0.1.28 and found out that maybe the reactor stops because
of the Mekanism mod.
When I replaced the pipes the reactor started working again.
Will do some more testing and come back.

/Michael

[2018-05-12 01:42] halvors commented on #34
@Njet75 Do you mean that no plasma spawns at all in the fusion reactor or that it doesn't run wild?

[2018-05-12 06:11] ZHENGLOC opened #39 "Gas Centrifuge cannot be connected by liquid pipe"
https://i.imgur.com/fU7JyQ6.png

[2018-05-12 06:12] ZHENGLOC commented on #39
Game version 1.7.10
mod version 0.1.36

[2018-05-12 08:49] nictrace commented on #34
I know this error, ConcurrentModificationException occurs when ArrayList element was removed inside a loop by these ArrayList's elements

[2018-05-12 11:07] Njet75 commented on #34
No plasma spawns at all in the fusion reactor.
No relevanse to Mekanism mod.
/Michael

[2018-05-12 15:26] halvors commented on #39
@ZHENGLOC You're right, thanks for reporting, this is a think that missed my attention when porting, it's an easy quick fix. It simply needs to be implemented 👍

[2018-05-21 15:39] nictrace opened #41 "1.10.2 Chemical extractor"
1. Connect energy & water pipe
2. Put empty cells to output slot
- will works ok
3. remove empty cells
- will works without deuterium output

**NOT an error!** Deuterium just goes to water pipe

[2018-05-27 03:36] Kreassen opened #42 "Game Crash when handling radioactive items with the hazmat suit"
Everytime i pick up Yellowcake or Uranium, i get radioactive. But when i have the suit equiped the game keeps crashing. Wearing the suit on its own isnt a problem.

Edit: It doesnt matter what causes the radioation poisoning, crashes everytime i get in contact with radioation with the suit equiped

Edit 2: I tested it with the 3 Latest versions for 1.12.2 and still crashing, also tested without an

[2018-05-27 22:34] jdawg3636 commented on #42
[nuclear-physics-abstract-armor-crash.log](https://github.com/halvors/Nuclear-Physics/files/2043085/nuclear-physics-abstract-armor-crash.log)
I have the same issue; downgrading to 1.12.2-0.1.32 seems to fix.

[2018-05-28 13:36] MeycsHD commented on #42
I have the same issue...

[2018-05-28 13:48] halvors commented on #42
@Kreassen @jdawg3636 @MeycsHD Sorry for the inconvinience, will fix this as soon as possible. The issue is related to how mojang obfuscates the code. And is easy to fix.

[2018-05-28 13:51] halvors commented on #41
@nictrace What exactly is this issue issue about?

[2018-05-28 13:52] nictrace commented on #41
its my tester fault, you can just close it

[2018-05-28 15:08] halvors commented on #42
Fixed in commit 703093e5bc6bd572f7912b0dc08a4e35236ff8c2, will issue a new release soon.

[2018-05-28 18:51] #41 closed, assigned to nictrace

[2018-05-28 18:53] halvors commented on #27
@nictrace Can you look into this?

[2018-05-28 18:54] halvors commented on #34
@nictrace Yeah, it's supposed to be fixed now. Problem was multitreading where different threads was altering the HashMap storing values.

[2018-05-28 18:55] halvors commented on #34
@Njet75 Do you still experience this issue? Is the crash still occuring with the latest version? Plasma issue should be fixed now.

[2018-05-28 18:55] halvors commented on #42
Fix released, grab the 0.1.37 version 👍

[2018-05-28 18:55] #42 closed, assigned to halvors

[2018-05-28 18:56] halvors commented on #39
Fix released, grab the 0.1.37 version 👍

[2018-05-28 18:56] #39 closed, assigned to halvors

[2018-05-28 19:00] nictrace commented on #27
ok, let's see today

[2018-05-29 13:33] Kreassen commented on #42
Thanks man, is it normal that the nuclear reactor is so overpowered? the best energy cubes from mekanism are almost instantly full while reactors from extreme reactor take a while.

[2018-05-29 19:37] Njet75 commented on #34
Yes I agree. The latest build fixes this issue.Been running server for 4 hours and still no stopping.
But I get lagspikes with latest build every minute.Is the thread saving something?
Maybe Close this issue and open new?
Thanks for the great work :)

/Michael

[2018-06-09 11:13] TechinicFiles opened #45 "How to start Plazma Heater"
I have given the Plazma heater as much Deuterium and Tritium it'll consume and given it energy but it will not produce plazma. Where am i going wrong??
![image](https://user-images.githubusercontent.com/28156689/41190875-596c7450-6bde-11e8-9631-c12c15b2a4ae.png)

![image](https://user-images.githubusercontent.com/28156689/41190883-71e184e4-6bde-11e8-81f8-bec44d89f2b6.png)

![image](https://user-im

[2018-06-10 10:29] TechinicFiles commented on #45
Update: It seems the plazma heater is filling with plazma (About 2000L now) but i see no plazma in the rings and the thermometer is sticking at a solid 200 kelvin.

[2018-06-10 12:54] halvors commented on #45
@TechinicFiles Plasma heater does not need to be placed inside reactor. (Or be a part of the constrution)

Plasma can be piped from the plasma heater to the reactor cell. What you're doing wrong here is that plasma heater is placed where reactor cell is supposed to be.

Try placing the reactor cell there instead, and pipe plasma to it from the plasma heater.

[2018-06-10 17:45] TechinicFiles commented on #45
Thanks for the reply. I feel silly now. Could you advise how to extract plasma from it? Just so i know when i go back in game, Im guessing anyway that the only thing that can be extracted from the heater is plasma

[2018-06-10 23:14] TechinicFiles commented on #45
Okay now i've filled the reactor cell with plasma in the centre of the ring. It is depleting plasma yet no heat is produced nore is there any signs of life
![image](https://user-images.githubusercontent.com/28156689/41207344-4acbc91c-6d0c-11e8-8422-7e5412af1467.png)

![image](https://user-images.githubusercontent.com/28156689/41207357-6304dd0c-6d0c-11e8-836d-039dcca48702.png)

[2018-06-11 09:54] halvors commented on #45
What mc version are you on?

[2018-06-11 09:54] halvors opened #46 "Wrench not combining turbines into one big one."

[2018-06-11 09:54] halvors opened #47 "Water not boiling somehow?"

[2018-06-11 11:45] TechinicFiles commented on #45
This version is 1.7.10
File version is the curse forge version: nuclearphysics-1.7.10-0.1.37 which i think is the current lastest

[2018-06-13 04:01] TechinicFiles commented on #45
@halvors I think i may have a solution to narrow down to. It could possibly be an issue with Electromagnets. Because now that i've decided to move onto particle accelerators i can't seem  to get it to work either. Everything is how it should be. A 30x30 ring of mostly electromagnets and a line of EM glass. But it keeps giving me the failed to emit error, even after attempting to rotate the machine

[2018-06-18 18:19] halvors commented on #47
Related to changes in commit 6ac3870e667212738ef8c1125492eb45328891fb

[2018-06-18 18:19] halvors commented on #46
Related to changes in commit 6ac3870e667212738ef8c1125492eb45328891fb

[2018-07-13 20:32] kyagloski opened #48 "Particle Accelerator stuck in idle state"
Im trying to start the particle accelerator and the status is stuck in idle, I've changed the way the block itself is facing in every orientation but it still says its idle. In some orientations the particle stays in place and make the noise but does not move. In other orientations the partilce will move forward a few blocks and explode creating antimatter.

I tested it with just Nuclear Physics a

[2018-08-07 15:55] kmecpp opened #49 "Machines screw up inventory lighting"
In 1.7.10, most of the machines, including the chemical extractor, centrifuge, plasma heater, and quantum assembler, screw up the inventory lighting when their items are rendered. Here is an example:

**Before**
![image](https://user-images.githubusercontent.com/6520738/43787174-6b19753a-9a38-11e8-9a98-ea5cb046be46.png)

**After**
![image](https://user-images.githubusercontent.com/6520738/43787199

[2018-08-09 20:54] halvors commented on #49
@kmecpp Thanks for reporting, unclear how this happens but i suspect it's a caused by our custom renderer on order to get itemrendering working in 1.7.10 as in newer versions.

[2018-08-11 17:29] kmecpp opened #50 "Memory Leak with Plasma Heaters"
On 1.7.10 there's a memory leak with Plasma heaters. I'm not sure how to replicate the bug but I was just fooling around with Reactor cells trying to make a fission reactor and the game lagged out later

![image](https://user-images.githubusercontent.com/6520738/43994417-6cd2ff24-9d6a-11e8-8eb6-83dd4f616a9c.png)

[2018-08-11 17:43] kmecpp opened #51 "Fission reactors not working?"
Fission reactors don't appear to be working correctly in 1.7.10. I also tried the same setup with gas funnels as well as gas funnels with pipes, and when connected to a mekanism energy cube. The turbines don't spin

![image](https://user-images.githubusercontent.com/6520738/43994530-9341a23a-9d6c-11e8-94fb-b7c3f9409d0f.png)

[2018-08-14 22:31] halvors commented on #50
@kmecpp Thanks.

@nictrace Maybe you could have a look at this?

[2018-08-15 05:44] nictrace commented on #50
ok, I'll see

[2018-08-24 05:36] halvors commented on #48
@Chaos249 This should now be solved, please do report if this solves this issue for you :) New release coming up soon!

[2018-08-26 23:02] #48 closed, assigned to halvors

[2018-08-26 23:07] halvors commented on #51
The actual problem here is that water is never boiled, and thereby steam not generated which doesn't make the turbines spin. Closing this issue and tracking this in #47. @kmecpp Thanks for reporting! :)

[2018-08-26 23:07] #51 closed, assigned to nobody

[2018-08-26 23:09] halvors commented on #33
@collwee Have you experienced this with the latest release? I have a hard time reproducing this now...

[2018-08-26 23:16] William191111 opened #52 "particle accelerator Not Turning Issue"
https://youtu.be/zbmnYTtkRG0
I've tried starting it on other sides also if it has the option for a right turn it blows up instantly

[2018-08-27 12:33] nictrace commented on #33
nuclearphysics.common.entity.EntityParticle saving to NBT crashes with NullPointer

[2018-08-27 14:03] halvors commented on #33
@nictrace Have you managed to reproduce this? Couldn't make it crash in my test environment...

[2018-08-27 14:04] nictrace commented on #33
I can't. Topic starter has many mods, some of them seems to have errors too

[2018-08-30 13:36] halvors commented on #52
@William191111 You're using 1.7.10 right?

[2018-09-01 06:19] ACGaming opened #53 "Stack overflow error at startup"
https://paste.ubuntu.com/p/MQdbG9zZmp/

- Minecraft 1.12.2
- Forge 14.23.4.2759
- Nuclear Physics 0.1.38

Version 0.1.37 runs fine!

[2018-09-16 15:28] kmecpp opened #55 "Creative builders don't work well"
- [ ] Fusion reactors don't fully form
- [ ] Fission reactors have levers that don't place correctly

There's probably more. The schematics have the potential to make some really cool stuff

[2018-09-16 15:29] kmecpp opened #56 "Plasma Heater Deuterium labels don't render properly"
![image](https://user-images.githubusercontent.com/6520738/45598085-d0e0c780-b9a3-11e8-8371-9a6f8312e812.png)

[2018-09-16 15:36] nictrace commented on #56
@halvors , I think we need making a GUI for heater

[2018-09-20 10:14] halvors commented on #56
@nictrace Yeah i've considered it, reason it is not made yet is because of the original doesn't have it.
But makes sense to make yes.

[2018-09-20 10:16] halvors commented on #56
@kmecpp What mc version?

[2018-09-20 10:17] halvors commented on #55
Is this 1.7.10 or 1.10+? Because schematics have much more potential on 1.10+ with block states.
Also this is mainly meant to be used for debugging, so not a priority really.

[2018-09-20 12:17] kmecpp commented on #55
1.7.10

[2018-09-20 12:18] kmecpp commented on #56
1.7.10

[2018-09-20 18:06] Njet75 commented on #53
Same happens to me

[2018-09-20 20:06] Soup-64 opened #58 "Particle accelerator creates antimatter instantly"
- particle goes from 0 to max velocity instantly or spawns in and de-spawns shortly after
-found in 1.12.2, found in nuclearphysics version 0.1.37

[2018-09-20 21:33] Soup-64 commented on #53
^same

[2018-09-24 16:52] halvors commented on #55
Yeah, this is something that should be fixed but have very low priority. Feel free to play around with it :)

[2018-09-27 00:13] Breadabix opened #59 "Placing Nuclear Boiler/Particle Accelerator"
When placing machines they place facing towards you, except the nuclear boiler and the particle accelerator block which place facing away from you.
This is in 1.7.10 with latest version of this mod and forge

[2018-09-27 00:22] Breadabix opened #60 "Yellowcake name"
Yellowcake has a bracket in its name which causes issues with minetweaker, its name is
nuclearphysics:(itemYellowCake

Im pretty sure this is meant to be nuclearphysics:itemYellowCake

Any possibility of this being changed soon? Thanks

[2018-09-27 11:12] Breadabix opened #61 "Particle Accelerator Broken"
The particle accelerator block does not have its own texture, just the machine sides.
![2018-09-27_12 11 09](https://user-images.githubusercontent.com/19786108/46142331-85090a80-c24e-11e8-974f-42f852fb0277.png)

It also only works when on the west side of the collider facing west, everywhere else it explodes as soon as the cycle starts. However #52 is still an issue

[2018-09-27 16:05] Breadabix commented on #46
Is this being worked on for next release whenever that may be?

[2018-10-02 15:43] ZHENGLOC opened #62 "crash when open the game"
forge version：2765
mod version：0.1.38
https://paste.ubuntu.com/p/jkhbQh64Jd/

[2018-10-02 22:23] Breadabix commented on #62
Try removing optifine, it can cause issues with other mods

[2018-10-03 23:54] halvors commented on #60
@Breadabix What version of MC?

[2018-10-03 23:55] halvors commented on #50
This should be fixed by @kmecpp in his PR.

[2018-10-03 23:55] #50 closed, assigned to nictrace

[2018-10-04 00:07] halvors commented on #62
Duplicate of #53

[2018-10-04 00:07] #62 closed, assigned to nobody

[2018-10-04 00:09] #34 closed, assigned to halvors

[2018-10-04 00:10] halvors commented on #33
@nictrace Then we'll mark this as solved. @collwee Feel free to open a new issue if this still is a problem on latest version of the mod and Forge.

[2018-10-04 00:10] #33 closed, assigned to halvors

[2018-10-04 00:14] halvors commented on #45
There is other issues causing this to not always work. Closing this for now.

[2018-10-04 00:14] #45 closed, assigned to nobody

[2018-10-04 00:48] halvors commented on #58
@Bm-64 Can you reproduce this in 0.1.38?

[2018-10-04 00:58] #53 closed, assigned to nobody

[2018-10-04 05:15] halvors commented on #27
@nictrace Is this fixed? Should we close this issue?

[2018-10-04 10:02] Breadabix commented on #60
1.7.10, I dont know if the other versions are affected

[2018-10-06 14:20] Soup-64 commented on #58
.1.38 had an instant crash issue in 1.12; trying it now in the latest

[2018-10-07 22:25] halvors commented on #60
@Breadabix Thanks, will look into it :)

[2018-10-08 16:38] halvors commented on #60
@Breadabix What version of Nuclear Physics are you using? I cannot reproduce this.

[2018-10-08 17:03] mekedid opened #63 "Creative builder is not working"
hi, im using mod version 1.12+ version 0.1.37. I dont know how to build a working reactor because the mod is so new so i saw a creative builder. When i pressed build it only builds 1 block for each time you press it. But it wont build it completely either, it only builds part of the multiblock or remove the creative builder itself.

[2018-10-08 17:06] Breadabix commented on #60
I am using nuclearphysics-1.7.10-0.1.38

https://gyazo.com/cf44d5aa6ddb0de6cd7e722ed4c3a9ea

[2018-10-09 14:22] halvors commented on #63
@mekedid Could you try the latest version?

[2018-10-21 15:07] Njet75 opened #64 "Random crash 1.12.2"
Get this crash completly random.
Some time it happens a few minutes after logging in.
Sometimes hafter hours of playing.
Sometimes not at all.
[crash-2018-10-21_17.03.54-server.txt](https://github.com/halvors/Nuclear-Physics/files/2499309/crash-2018-10-21_17.03.54-server.txt)

/Michael

[2018-10-21 19:17] halvors commented on #64
@nictrace Any idea why this might be?

Strange that it happens here: https://github.com/halvors/Nuclear-Physics/blob/1.10.2/src/main/java/org/halvors/nuclearphysics/common/tile/reactor/fusion/TilePlasma.java#L73

Somehow position is invalid?

[2018-10-21 19:22] halvors commented on #60
@Breadabix I'm not able to reproduce this, what other mods is installed other than minetweaker?

[2018-10-21 19:29] Breadabix commented on #60
That image was from a clean install of the mod on a pack with only this, NEI inventory tweaks and WAILA

[2018-10-22 06:03] nictrace commented on #64
Do you have ArrayList.remove() in your code?

[2018-10-28 02:34] Soup-64 commented on #58
The insta bug seems fine now, and the de-spawn issue turned out to be a rf thru-put problem.

[2018-10-28 02:34] #58 closed, assigned to nobody

[2018-10-29 19:54] halvors commented on #64
@nictrace Don't think so.

[2018-10-29 19:56] halvors commented on #64
@nictrace This maybe? https://github.com/halvors/Nuclear-Physics/blob/1.10.2/src/main/java/org/halvors/nuclearphysics/common/science/grid/ThermalGrid.java#L62

[2018-10-29 20:02] halvors commented on #64
Should support it...

[2018-10-31 18:44] halvors commented on #59
@Breadabix Pretty sure nuclear boiler is supposed to face that way? Any references on how that was in the original Atomic Science?

[2018-10-31 18:46] halvors commented on #56
@nictrace Want to make a GUI for this? Do it in the 1.10 branch and well backport the change.

[2018-10-31 18:46] halvors commented on #49
@kmecpp Have you confirmed that this fixes the issue?

[2018-11-01 18:14] kmecpp commented on #49
Yes. It did for me.

[2018-11-14 18:17] Breadabix commented on #59
In voltz it places the other way to what it does in this.

[2018-12-16 03:11] EmperorSire opened #67 "Particle Accelerators Glitching when player leaves area"
Particle accelerators stop gaining velocity, but continue to drain power if a player leaves where they're placed, chunk loaders do not seem to fix this issue.

[2019-03-11 19:25] DarkSeph222 opened #69 "Crash when making 60x60 PA using Creative Builder"
[crash-2019-03-11_14.02.30-server.txt](https://github.com/halvors/Nuclear-Physics/files/2953876/crash-2019-03-11_14.02.30-server.txt)

[latest.log](https://github.com/halvors/Nuclear-Physics/files/2953887/latest.log)

[2019-03-18 05:40] NGSquirrely opened #70 "Config Issues"
All configuration should be done in type **"double"** instead of type **"int"**, allowing outputs to be halved.

furthermore, some looking into might be needed for joule conversion. In my test environment, I adjusted joule conversion rates so that the nuclear physics constructs would use much more than normal. While the interface adjusted the new value for the particle accelerator, saying "Using 1

[2019-03-18 05:43] NGSquirrely commented on #70
- [ ]

- [ ]

- [ ]

[2019-03-24 18:03] halvors commented on #70
@NGSquirrely I agree with the joule conversion. But the other option that is currently integers is that for a a reason. That reason being Forge requires whole numbers of fluid stacks.

[2019-03-24 18:04] #70 closed, assigned to halvors

[2019-03-24 18:09] halvors commented on #27
@nictrace Any update on this, this was fixed and tested right?

[2019-03-24 18:10] halvors commented on #49
@kmecpp Thanks for help, considering this fixed then.

[2019-03-24 18:10] #49 closed, assigned to halvors, kmecpp

[2019-03-24 18:11] halvors commented on #69
Creative Builder is mainly a debugging feature. So will give this low priority.

[2019-03-24 18:12] halvors commented on #59
@Breadabix Yes, but if you look at the machine, controls is on the back of it. Or is that just me?

[2019-03-24 18:13] halvors commented on #67
@EmperorSire Where did you place the chunkloader? At the "terminal" where power goes or or some other place along the accelerator?

[2019-03-24 19:10] Breadabix commented on #59
This is how it places in voltz, controls and the front and the back the things that spin.
https://gyazo.com/56233ba4cf80fcce97796e39ebf81db6

[2019-04-25 22:25] Anikyte opened #71 "Crash on particle accelerator particle explosion"
When a particle explodes, the game crashes.
https://pastebin.com/5diD3JwN

[2019-05-11 03:45] calicoh commented on #47
I know you guys might be busy but if you can spare the time please fix this issue

[2019-05-19 12:07] halvors commented on #71
@FamiliarBreakfast Seems to be caused by CubicGenCoreMod and CubicChunksCoreMod.
Can you test to see if the problem persists without these mods installed?

Also try updating the mentioned mods to the newest release. Might be a bug introduced on their end, and later fixed.

[2019-05-19 12:08] halvors commented on #67
@EmperorSire Did you see my last reply?

[2019-06-06 18:11] calicoh commented on #47
pls fix soon ty

[2019-06-21 07:13] jonsparks commented on #61
Is there a fix for this? Still seems to be an issue in the latest 1.7.10 release

[2019-08-07 04:09] Toe-NaiL opened #72 "Please help me to understand why this PA is not passing 82%"
this is a 64x64 partial Accelerator that is not passing 82% velocity and I'm not sure why. Does it really need to be bigger? https://i.imgur.com/6PE0oda.jpg

Edit: hoping this picture may also help someone help me. :)
![help](https://user-images.githubusercontent.com/53271263/62631726-2c3edf80-b8ff-11e9-82eb-a46d3bb52e85.png)

[2019-12-11 21:24] halvors commented on #72
Particle is slowed down on corners, so maybe yeah. Try building one even bigger. Particle only constantly accelerated when going straight forward.

[2021-06-26 19:27] Jonspeeth opened #74 "Plasma boiler broken"
It has 2 problems that I see:
1. Not the worst issue, but it really sucks, all of the floating text just piles on each other no matter how much energy, or how much deuterium or tritium or even plasma.
2. It won't output any plasma into the reactor cell. Maybe I'm doing it wrong, but the mekanism pipes work for the deuterium and tritium Idk.

[2021-06-26 19:30] Jonspeeth opened #75 "Steam not working with mekanism pipes fission reactor"
When I use the Gas Funnel, it outputs no steam when using the mekanism pipes, I guessed that the steam would transfer through the pressurized tubes but it doesn't. I had to use Galacticraft's pipes that do liquid and gas.

[2021-08-13 03:34] #75 closed, assigned to nobody

[2021-11-13 13:29] EcoManYT opened #76 "Game Crashing"
When I alt-tabed from MineCraft it crashed and lagged the computer.

[2022-01-28 19:42] Ijustplaymc opened #77 "[QUESTION] How to get energy from Fulmination Generator? MC1.12.2"
Title. I cant get any energy from fulmination generators, no matter what energy system. I have tried BuildCraft Joules, Forge Energy, Redstone flux, and even used mekanism's universal cable and a FE battery box (galacticraft) and even mekanism energy cubes with all energy systems tested. What energy system does it use, and how can I get power from it?